[Unit]
Description=Mount Data Volume

[Mount]
What=/dev/mapper/vg_backup-lv_backup
Where=/var/mnt/mirror
Type=xfs
Options=nofail,noatime,discard

[Install]
WantedBy=multi-user.target
