[Unit]
Description=KubeSolo single-node Kubernetes
Wants=network-online.target
After=network-online.target var-mnt-data.mount

[Service]
Type=simple
ExecStartPre=-/usr/sbin/modprobe overlay
ExecStartPre=-/usr/sbin/modprobe br_netfilter
ExecStart=/usr/bin/kubesolo --config=/etc/kubesolo/config.yaml
Restart=always
RestartSec=5s
Delegate=yes
KillMode=process
LimitNOFILE=1048576
LimitRTPRIO=70
LimitMEMLOCK=infinity
TasksMax=infinity

[Install]
WantedBy=multi-user.target
